.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.center {
  margin: auto;
  width: 50%;
}

li {
  background: #222!important;
  color: white !important;
}
li:nth-child(odd) { background: white !important;color: black !important; }

.mg-left {
  margin-left: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.Search-box {
  width:  80% !important;
  margin-right: 2%;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
